pre span.dsBaseN {
  color: blue;
}

pre span.dsDecVal {
  color: blue;
}

pre span.dsFloat {
  color: purple;
}

pre span.dsKeyword {
  font-weight: bold;
}

pre span.dsComment {
  color: gray;
  font-style: italic;
}

pre span.dsChar {
  color: #ff00ff;
}

pre span.dsString {
  color: red;
}

pre span.dsOthers {
  color: green;
}

pre span.dsFunction {
  color: #000080;
}

pre span.dsDataType {
  color: #800000;
}