code.keyword {
  font-weight: bold;
}

/*pre.code {
  background-color    : aliceblue;
  color       : black;
  margin        : 1em;
  padding       : 1em;
  border        : 1px solid gray;
}*/

pre.code {
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); /* should be inherit */
  border-style: dotted;
  border-color: rgb(0,0,0);
  border-width: thin; 
  padding: 5px; 
}